$pink: #FF96C7;
$lightpink: #FFB7D91F;
$darkpink: #E63A8A;
$dark: #00000029;
$lightdark: #2F2F2F;
$darker: #292929;
$grey: #ACACAC;
$lightgrey: #E4E4E4;
$darkgrey: #FFFFFF99;
$darkergrey: #020202bf;
$darkerkergrey: #00000099;
$black: #000;
$white: #fff;